[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
marshmallow = "*"
padar_realtime = {git = "https://github.com/qutang/padar_realtime.git", editable = true}

[dev-packages]

[requires]
python_version = "3.6"
