[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
multiprocessing_logging = "*"
flask = "*"
marshmallow = "*"
padar_realtime = {git = "https://github.com/qutang/padar_realtime.git", referer = "master"}
padar_features = {git = "https://github.com/qutang/padar_features.git", referer = "master"}
"getip2" = "*"
flask-cors = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.6"
