[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
multiprocessing_logging = "*"
flask = "*"
marshmallow = "*"
padar_realtime = {git = "https://github.com/qutang/padar_realtime.git", editable = true}
"getip2" = "*"
flask-cors = "*"
warble = "==1.2.0"

[dev-packages]

[requires]
python_version = "3.6"
